!!! 5
%html
  %head
    %title 
      Project Title
    %link{ rel: 'stylesheet', href: '/css/app.css', type: 'text/css' }
  %body
    .container
      %h1{ id: 'title' }
        %a{ href: '/' } Project Title
      #sidebar
        %ul
          %li
            %a{ href: '/' } Home
        
      #content
        = yield
    .clear &nbsp;
    #footer
      footer
